<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>104 職缺搜尋</title>
</head>

<body>

    <h1>104 職缺搜尋</h1>

    <form method="GET">

        <label>
            關鍵字：
            <input type="text" name="keyword" value="{{ keyword }}">
        </label>

        <br><br>

        <label>
            <input type="checkbox" name="area" value="6001001000" {% if '6001001000' in areas %}checked{% endif %}>
            台北市
        </label>

        <label>
            <input type="checkbox" name="area" value="6001002000" {% if '6001002000' in areas %}checked{% endif %}>
            新北市
        </label>

        <label>
            <input type="checkbox" name="area" value="6001005000" {% if '6001005000' in areas %}checked{% endif %}>
            桃園市
        </label>

        <label>
            <input type="checkbox" name="area" value="6001006000" {% if '6001006000' in areas %}checked{% endif %}>
            新竹縣市
        </label>

        <label>
            <input type="checkbox" name="area" value="6001008000" {% if '6001008000' in areas %}checked{% endif %}>
            台中市
        </label>

        <label>
            <input type="checkbox" name="area" value="6001016000" {% if '6001016000' in areas %}checked{% endif %}>
            高雄市
        </label>

        <br><br>

        <button type="submit">搜尋</button>

    </form>


    <hr>


    {% for job in jobs %}

    <div>
        <h2>{{ job.jobName }}</h2>

        <p>公司：{{ job.custName }}</p>
        <p>薪水：{{ job.salary }}</p>
        <p>地址：{{ job.addressRegion}} {{job.addressDetail}}</p>
        <P>工作內容:<br>{{job.jobDescription}}</P>
        <p>其他條件:<br> {{job.other}}</p>

        <a href="{{ job.link }}" target="_blank">
            查看職缺
        </a>
    </div>

    <hr>

    {% endfor %}

    <div class="pagination">

        {% if page > total_pages %}
        <a href="?keyword={{ keyword }}&area={{ area }}&page={{ page - 1 }}">
            上一頁
        </a>
        {% endif %}

        <span>第 {{ page }} / {{ total_pages }} 頁</span>

        {% if page < total_pages %} <a href="?keyword={{ keyword }}&area={{ area }}&page={{ page + 1 }}">
            下一頁
            </a>
            {% endif %}

            <!-- 跳轉頁數 -->
            <select id="pageSelect">
                {% for p in range(1, total_pages + 1) %}
                <option value="{{ p }}" {% if p==page %}selected{% endif %}>
                    第 {{ p }} 頁
                </option>
                {% endfor %}
            </select>
    </div>
    <script>
        document.getElementById('pageSelect').addEventListener('change', function () {

            const page = this.value;

            const urlParams = new URLSearchParams(window.location.search);

            urlParams.set('page', page);

            window.location.search = urlParams.toString();

        });
    </script>
</body>

</html>